@font-face {
    font-family: "ChaletComprime";
    src: url("../fontes/ChaletComprime.ttf");
}

body {
    background-color: #282828;
    color: white;
}

.cabecalho {
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;
}

.cabecalho .logo {
    display: flex;
    gap: 15px;
}

.cabecalho .menu {
    display: flex;
    gap: 30px;
}

.cabecalho .menu li a {
    padding: 30px;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Chalet';
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid white;
}

.home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}

.home::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
}

.home .img-fundo {
    width: 100%;
    object-fit: cover;
}

.home .info {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh -80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
}

.home .info img {
    max-width: 150px;
}

.home .info .lista-de-jogos {
    display: flex;
    gap: 32px;
}

.home .info .titulo {
    font-family: 'ChaletComprime';
    font-size: 55px;
}

.home .info .texto {
    font-family: 'Chalet';
    font-size: 18px;
    line-height: 1.6;
}

.btn-comprar,
.btn-plataforma {
    background-color: rgba(255, 255, 255, .1);
    border: 0.5px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.btn-plataforma {
    color: white;
    width: 100%;
    cursor: pointer;
}

.btn-comprar:hover {
    background-color: white;
    color: black;
}

.compre-ja .capa-do-jogo {
    width: 270px;
}

.compre-ja {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    align-items: center;
}

.compre-ja .titulo {
    font-family: 'ChaletComprime';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.compre-ja .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 50%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 80px;
    gap: 40px;
}

.compre-ja .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.compre-ja .info h3 {
    font-family: 'ChaletComprime';
    font-size: 52px;
    font-weight: 700;
}

.compre-ja .info p {
    color: #e8e8e8;
    font-family: 'Chalet';
    font-size: 16px;
    line-height: 1.6;
}

.compre-ja .info .plataformas {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.compre-ja .btn-plataforma .plataformas {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3x ease-in;
    -webkit-transition: all .3x ease-in;
    -moz-transition: all .3x ease-in;
    -ms-transition: all .3x ease-in;
    -o-transition: all .3x ease-in;
    display: none;
    opacity: 0;
}

.compre-ja .btn-plataforma .plataformas.ativo {
    display: flex;
    opacity: 1;
}

.compre-ja .btn-plataforma .plataformas li {
    padding: 20px;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1) {
    border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(1):hover {
    background-color: #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(2) {
    border: 1px solid #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(2):hover {
    background-color: #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3) {
    border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(3):hover {
    background-color: #00439c;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4) {
    border: 1px solid #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(4):hover {
    background-color: #387a26;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5) {
    border: 1px solid #fcaf17;
}

.compre-ja .btn-plataforma .plataformas li:nth-child(5):hover {
    background-color: #fcaf17;
}


